@import url('https://fonts.googleapis.com/css?family=Poppins');

$body-bg: #ffffff;
$font-family-sans-serif: "Poppins";
$secondary: #657788;
$info: #17bf98;
$navbar-dark-color: rgba(255, 255, 255, 1);
$enable-gradients: true;

$carousel-indicator-width: 1rem;
$carousel-indicator-height: 1rem;
$carousel-indicator-hit-area-height: 1rem;
$carousel-indicator-active-bg: #17bf98;

$border-radius: 100rem;
$card-border-radius: 0;

$line-height-base: 1.6;
$headings-line-height: 1.6;

@import "node_modules/bootstrap/scss/bootstrap";

::selection {
  background: #17bf98; /* WebKit/Blink Browsers */
  color: white;
}

.section-spacing {
  margin-bottom: 8rem;
}

.text-small {
  font-size: 14px;
}

.carousel-indicators {
  bottom: -4.5rem;
}


.carousel-inner {
  border-radius: 1rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.navbar-brand img {
  width: 235px;
  height: 80px;
}

.navbar li {
  font-size: 15px;
}

.navbar li.active {
  border-bottom: 3px solid $info;
}

.intro-slider {
  //height: (100vh);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  /* background: url("/assets/images/slider-bg.png");
  background-repeat: no-repeat;
  background-position-x: center;*/
  padding-top: 200px;
}

.intro-slider>img {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -10;
}

.circled h6 {
  letter-spacing: 3px;
}

#carouselExampleIndicators {
  margin: 0;
  padding: 0;
}

.card-style {
  width: 23rem;
  height: 17.5rem;
  border: 0;
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6
}

.card-style:hover {
  background-color: #eeffff;
}

.card-image {
  width: 65px;
  height: 65px;
}

h1 {
  line-height: 1.8;
}

h2 {
  color: #1e1e1e;
}

.card h4 {
  font-size: 1.37rem;
}

.slider-btn {
  width: 10.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.header {
  position: absolute;
  width: 100%;
  top: 75px;
  z-index: 1000;
}


.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #748179;
  top: 3.5rem;
  width: 800%;
}

.fancy span:before {
  right: 100%;
  margin-right: 30px;
}

.fancy span:after {
  left: 100%;
  margin-left: 30px;
}


//Footer

#triangle {

  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 35px solid white;
}


footer {
  background-image: url("/assets/images/bg-footer.png");
  background-position-x: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #46564c;
}

.footer-form-inputs {
  border-bottom: 1px solid #748179 !important;
  background-color: transparent;
  border: 0;
}

//End footer

//Circles

.circle-container {
  display: flex;
  align-content: center;
  width: fit-content;
}

.central-circle {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 59px 0 rgba(63, 159, 197, 0.2);
}

.central-circle:hover {
  background-color: #ffd;
}

.guide-circle {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1.5px solid #ddd;
  z-index: -1;
  border-radius: 50%;

}

.circle {
  width: 9rem;
  height: 9rem;
  background-color: #444;
  border-radius: 50%;
  align-self: center;
}

.circle h1 {
  line-height: 1;
}

.circle h5 {
  line-height: 0;
}

.center-circle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle-1 {
  background-color: #444;
  position: relative;
  top: 220px;
  left: 200px;
  box-shadow: 0px 20px 20px 0 rgba(241, 125, 111, 0.22);
  background-image: linear-gradient(43deg, #ee727d, #fda23f);
}

.circle-2 {
  background-color: #0d0;
  position: relative;
  left: -60px;
  box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
  background-image: linear-gradient(43deg, #907de4, #21dfd1);
}

.circle-3 {
  background-color: #0d0;
  position: relative;
  left: 60px;
  box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
  background-image: linear-gradient(43deg, #3bb5b6, #42e397);
}

.circle-4 {
  background-color: #444;
  position: relative;
  top: 220px;
  left: -200px;
  box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
  background-image: linear-gradient(43deg, #907de4, #21dfd1);
}

@media (max-width: 1600px) {

  .circle h1 {
    line-height: 1;
    font-size: 2rem;
  }

  .circle h5 {
    line-height: 0;
    font-size: 1rem;
  }

  .central-circle img {
    width: 50%;
    height: 50%;
  }

  .central-circle {
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 3px 30px 0 rgba(63, 159, 197, 0.2);
  }

  .guide-circle {
    position: absolute;
    width: 403px;
    height: 403px;
    border: 1.5px solid #ddd;
    z-index: -1;
    border-radius: 50%;

  }

  .circle {
    width: 6.75rem;
    height: 6.75rem;
    background-color: #444;
    border-radius: 50%;
    align-self: center;
  }

  .circle-1 {
    background-color: #444;
    position: relative;
    top: 165px;
    left: 150px;
    box-shadow: 0px 20px 20px 0 rgba(241, 125, 111, 0.22);
    background-image: linear-gradient(43deg, #ee727d, #fda23f);
  }

  .circle-2 {
    background-color: #0d0;
    position: relative;
    left: -45px;
    box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
    background-image: linear-gradient(43deg, #907de4, #21dfd1);
  }

  .circle-3 {
    background-color: #0d0;
    position: relative;
    left: 45px;
    box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
    background-image: linear-gradient(43deg, #3bb5b6, #42e397);
  }

  .circle-4 {
    background-color: #444;
    position: relative;
    top: 165px;
    left: -150px;
    box-shadow: 0px 20px 20px 0 rgba(131, 137, 226, 0.22);
    background-image: linear-gradient(43deg, #907de4, #21dfd1);
  }
}

//End circles

//Carousel

.carousel h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
.carousel h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #31332f;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #fff;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #fff;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	  line-height: 42px;
    position: absolute;
    display: inline-block;
	  color: #fff;
}

.carousel-indicators li {
  border-radius: 50%;
}

.circle-image {
  position: relative;
  right: 0;
}

input, textarea {
  border-bottom: 1px solid $info;
  line-height: 2rem;
}
//End carousel




@media (min-width: 1600px) {
  .intro-slider {
    background-size: contain;
  }
}

@media (max-width: 990px) {
  .intro-slider div img {
    display: none;
  }

  .intro-slider {
    padding-top: 400px;
  }

  .input-container {
    margin-top: 30px;
  }

  .circle-container {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}

@media (min-width: 990px) {
  .circled p, .circled h3 {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .circle-column {
    align-items: center !important;
  }
}