@import url('https://fonts.googleapis.com/css?family=Poppins');

$body-bg: #ffffff;
$font-family-sans-serif: "Poppins";
$secondary: #657788;
$info: #17bf98;

$carousel-indicator-width: 1rem;
$carousel-indicator-height: 1rem;
$carousel-indicator-hit-area-height: 1rem;
$carousel-indicator-active-bg: #17bf98;

$border-radius: 100rem;
$card-border-radius: 0;

$line-height-base: 1.6;
$headings-line-height: 1.6;

@import "node_modules/bootstrap/scss/bootstrap";


.mb-7 {
  margin-bottom: 4.5rem;
}

.carousel-indicators {
  bottom: -4.5rem;
}


.carousel-inner {
  border-radius: 2rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.intro-slider {
  height: (100vh);
  width: 100%;
  background-color: #435;
  position: relative;
  top: 0;
  left: 0;
}

.card-style {
  width: 23rem;
  height: 17.5rem;
  border: 0;
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6
}

.card-image {
  width: 65px;
  height: 65px;
}

h1 {
  line-height: 1.8;
}

h2 {
  color: #1e1e1e;
}

.card h4 {
  font-size: 1.37rem;
}

.slider-btn {
  width: 10.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.header {
  position: absolute;
  width: 100%;
  top: 75px;
  z-index: 1000;
}


.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #748179;
  top: 3.5rem;
  width: 800%;
}
.fancy span:before {
  right: 100%;
  margin-right: 30px;
}
.fancy span:after {
  left: 100%;
  margin-left: 30px;
}

#triangle {

  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid white;
}


footer {
  background-image: url("/assets/images/bg-footer.png");
  background-repeat: no-repeat;
  background-color: #46564c;
}