@import url('https://fonts.googleapis.com/css?family=Poppins');

$body-bg: #ffffff;

$border-radius: .99rem;

.intro-slider {
  height: (100vh);
  width: 100%;
  background-color: #435;
  position: relative;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 75px;
  z-index: 1000;
}

.align-slider-content {
}

@import "node_modules/bootstrap/scss/bootstrap";